@id("allow_one")
permit(
    principal in Workload::"Workload",
    action == HTTP_Request::"GET",
    resource in HTTP_Request::"HTTP_Request"
)
when {
    principal.access_token != None && 
    principal.access_token.scope.contains("profilerr")
};
